body{
	margin: 0;
}

a{
	text-decoration: none;
	transition: all 0.5s;
	color: #888;
}

ul{
	margin: 0;
  padding: 0;
}

li{
	margin: 0;
	padding: 0;
  list-style: none;
}

.container{
	width: 1170px;
	padding: 0 15px;
	margin: auto;
}

/*ヘッダー*/
header{
	height: 50px;
	width: 100%;
	background-color: #fff;
	position: fixed;
	box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
	z-index: 10;
}

.header-title{
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	font-size: 22px;
	float: left;
	line-height: 50px;
}

.header-right{
	float: right;
	line-height: 50px;
}

.header-menu li{
	float: left;
	padding: 0 10px;
}

.header-menu a{
	color: #333;
	font-size: 14px;
	font-weight: 600;
}

header a:hover{
	color: #00CDCD;
}

/*トップ*/
.top-wrapper{
	/*padding: 180px 0 100px 0;*/
	background-image: url(images/backgrounds/top.jpg);
	background-size: cover;
	color: #fff;
	text-align: center;
}

.top-img{
	/*background-image: url(images/backgrounds/top.jpg);
	background-size: cover;*/
	background-color: rgba(0,0,0,0.5);
	padding-top: 100px;
	padding-bottom: 150px;
	padding-top: 200px;
}

h1{
	font-size: 45px;
	margin-top: 10px;
}

.top-wrapper p{
	font-size: 16px;
	margin-bottom: 35px;
}

.detail{
	background-color: rgba(0,0,0,0.1);
	border: solid 1px rgba(255,255,255,0.3);
	color: #fff;
	font-size: 18px;
}

.detail:hover{
	background-color: rgba(0,0,0,0.1);
	border: solid 1px rgba(255,255,255,1);
}

.btn{
	padding: 10px 24px;
	display: inline-block;
	cursor: pointer;
}

/*学習言語*/
.language-box-wrapper{
	height: 600px;
	padding-bottom: 80px;
	width: 75%;
	margin: 0 auto;
}

.heading{
	padding: 60px 0 10px;
	text-align: center;
}

h2{
	color: #5f5d60;
	font-size: 30px;
	font-weight: 200;
}

.language-box{
	text-align: center;
	width: 46%;
	padding: 15px;
	float: left;
	font-size: 16px;
}

.lang-img{
	margin: 0;
}

h4{
	font-size: 18px;
	font-weight: 200;
	color: #777;
}

.language-box p,
.features-box p{
	font-size: 14px;
	font-weight: 100;
	color: #999;
}

/*特徴*/
.features-img{
	text-align: center;
}

.features-box-wrapper{
	height: 350px;
	padding-bottom: 80px;
	width: 87%;
	margin: 0 auto;
}

.features-box{
	width: 46%;
	padding: 20px;
	float: left;
}

.features-wrapper{
	background-color: #F3F3F3;
	height: 410px;
}

/*料金*/
.price-wrapper{
	clear: both;
	background-color: #f3f3f3;
	/*height: 900px;*/
	/*padding-bottom: 30px;*/
}

.price-box-wrapper{
	height: 700px;
	padding-bottom: 80px;
	/*width: 100%;*/
	margin: 0 auto;
}

.price-box{
	height: 430px;
	width: 29%;
	text-align: center;
	margin: 15px;
	float: left;
	/*border: 1px solid #888;*/
	padding: 10px 10px 230px 10px;
	background-color: #fff;
	box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
}

.price-box h2{
	background-color: #2e2f2e;
	padding: 30px 0;
	margin-bottom: 0;
	color: #fff;
	font-weight: 400;
}

.back-green h2{
	background-color: #0BC1B4;
}

h3{
	font-size: 28px;
	background-color: #eee;
	padding: 30px 0;
	margin-top: 0;
	color: #a4a4a4;
	font-weight: 100;
}

.price-box ul{
	width: 70%;
	margin: 0 auto;
}

.price-box li{
	padding: 25px 0;
	font-size: 14px;
	color: #C7C7C7;
	font-weight: 100;
}

.course-contents{
	border-bottom: 1px solid #C7C7C7;
}

.apply{
	background-color: #2e2f2e;
	padding: 13px 25px;
	font-size: 18px;
	font-weight: 700;
	color: #C7C7C7;
	margin-top: 20px;
}

.apply:hover{
	background-color:#454745;
}

/*メンター*/
.mentor-box-wrapper{
	padding-bottom: 80px;
}

.mentor-box{
	width: 75%;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}

.mentor-box img{
	width: 200px;
  border-radius: 50%;
	margin: 0 auto;
}

h5{
	font-size: 17px;
	font-weight: lighter;
	color: #888;
	margin-bottom: 10px;
}

.mentor-box p{
	font-size: 14px;
	color: #bbb;
}

/*メッセージ*/
.message-wrapper{
	background-image: url(images/backgrounds/night_view.jpg);
	background-size: cover;
	text-align: center;
}

.message-img{
	background-color: rgba(0,0,0,0.6);
	padding: 140px 0;
}

.message-wrapper h5{
	font-size: 22px;
	color: #fff;
	font-weight: 200;
}

/*コラム*/
.columns-wrapper{
	background-color: #f3f3f3;
}

.column-select{
  width: 440px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.column-select li{
  float: left;
  text-align: center;
  margin: 0 5px;
}

.column-back-green{
  background-color: #16acbe;
	font-weight: 700;
	color: #fff;
}

.column-back-white{
	background-color: #fff;
	color: #333;
	font-weight: 700;
}

.column-select a:hover{
  background-color: #16acbe;
  color: #fff;
}

.column-box-wrapper{
	height: 100%;
	width: 1080px;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 80px;
	margin: 0 auto;
}

.column-box{
  /*position: relative;*/
  width: 480px;
	height: 340px;
  margin: 10px;
	padding: 10px;
  float: left;
	background-color: #fff;
	box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
}

.column-box img{
  width: 480px;
  /*border: 10px solid #fff;*/
  /*border-bottom: 95px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #999;
     -moz-box-shadow: 3px 3px 3px #999;
          box-shadow: 3px 3px 3px #999;*/
  transition: 0.3s;
}

.column-img-zoom{
	width: 480px;
	height: 260px;
	overflow: hidden;
	background-color: #000;
}

.column-box img:hover {
  -moz-transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
	opacity: 0.6;
}

.column-textarea{
	/*position: absolute;*/
	/*top: 300px;*/
	text-align: center;
	/*width: 485px;*/
	padding-top: 20px;
}

.column-textarea a{
  color: #444;
  font-weight: bolder;
}

.column-textarea a:hover{
	color: #00A9A9;
}

.column-textarea p{
  margin-top: 8px;
  font-size: 13px;
  color: #bebebe;
}

.loadmore{
  clear: both;
	text-align: center;
  padding: 20px 0;
}

/*コンタクト*/
.contact-wrapper{
  /*clear: both;*/
  color: #fff;
  background-image: url(./images/backgrounds/contact.jpg);
  background-size: cover;
  height: 100%;
}

.contact-back-img{
	background-color: rgba(0,0,0,0.6);
	padding-bottom: 220px;
}

.contact-wrapper h2{
	color: #fff;
}

.contact-form{
	float: left;
	width: 58%;
	/*margin-left: 0;*/
	/*padding-left: 5px;*/
}

.contact-box h5{
	margin-left: 20px;
	color: #fff;
}

.contact-box li{
	margin:  20px;
	/*padding: 10px;*/
}
input,textarea{
	padding: 15px;
	width: 90%;
	font-size: 16px;
	background-color: rgba(0,0,0,0.4);
	border: none;
	font-weight: 200;
	color: #fff;
}

textarea{
	height: 200px;
}

input#button{
	display: inline-block;
	background-color: #35e0d2;
	color: #fff;
	width: 20%;
	border: none;
	font-size: 19px;
	transition: all .3s;
	cursor: pointer;
}

.about{
	/*width: 40%;*/
	margin-left: 0; 
}

.about p{
	font-size: 14px;
	padding-top: 5px;
}

.about i{
	padding-right: 8px;
}
/*SNS*/
.social-wrapper{
  height: 250px;
  padding-bottom: 50px;
}

.sns-icon{
  text-align: center;
  font-size: 40px;
  padding: 10px;
}

.sns-icon a{
  color: #222;
  padding-left: 10px;
  padding-right: 10px;
}

.sns-icon a:hover{
	color: #00A9A9;
}

/*フッター*/
footer{
  text-align: center;
  background-color: #222;
  padding: 40px 0;
  font-size: 13px;
  font-weight: 100;
  color: #fff;
  height: 45px;
}
