body{
	margin: 0;
	/*font-family: 'Dosis', sans-serif;*/
  color: #888;
}

a{
	text-decoration: none;
  color: #888;
  transition: all 0.5s;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

/*文字設定*/
h1{
  font-size: 48px;
  font-weight: 300;
}

h2{
  text-align: center;
  font-size: 32px;
  font-weight: 100;
  margin: 25px 0;
  color: #696969;
}

h3,
h4{
  font-weight: 300;
  font-size: 18px;
  color: #444444;
}

h5{
  font-weight: 300;
  font-size: 30px;
  background-color: #222;
  padding: 30px 6px;
  color: #ebebeb;
}

h6{
  color: #888;
  font-size: 30px;
  font-weight: 200;
  padding-bottom: 20px; 
  margin-top: 0;
}

.lang-section_wrapper p,
.features_box p{
  color: #999;
  font-size: 13px;
  font-weight: 200;
}

.section_title{
  padding-top: 30px;
}

/*ヘッダー*/
header{
  background-color: #fff;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #cfcfcf;
  z-index: 10;
}

header a:hover,
.sns-icon a:hover{
  color: #2cb499;
}

.header_title{
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  float: left;
  margin: 10px 12px 12px;
  font-size: 22px;
  padding-left: 28px;
}

.header_menu{
  float: right;
  margin-right: 20px;
}

.header_menu li{
  float: left;
}

.header_menu a{
  line-height: 15px;
  padding: 0 10px;
  font-size: 14px;
  color: #2d2d3a;
  font-weight: 600;
}

/*トップ部分*/
.title p{
  font-size: 18px;
  font-weight: 300;
}

/*.detail a{
  font-size: 18px;
  color: #fff;
}*/

.link{
  color: #fff;
}

.top-wrapper{
	margin: 0 auto;
  text-align: center;
	background-image: url(./images/backgrounds/top.jpg);
  background-size: cover;
  color: white;
  padding: 190px 0;
  -webkit-filter: brightness(0.4);
}

.btn{
  padding: 8px 24px;
  color: #fff;
  display: inline-block;
  opacity: 0.4;
}

.detail{
  background-color: #777;
  border: 1px solid #fff;
}

/*言語*/
.lang-wrapper{
  /*background-color: #ea9d3a;*/
}

.lang-section_wrapper{
  text-align: center;
  width: 890px;
  margin: 0 auto;
}

.lang_box{
  float: left;
  text-align: center;
  width: 50%;
  padding-bottom: 50px;
}

/*特徴*/
.features{
  /*background-color: #dcd5d9;*/
  clear: both;
}

.features-wrapper{
  background-color: #eaeaea;
  height: 380px;
}

.features-wrapper img{
  text-align: center;
}

.features-img{
  text-align: center;
  margin: 0 auto;
}

.features_box-wrapper{
  /*width: 900px;*/
  width: 100%;
  margin: 0 100px;
}

.features_box{
  float: left;
  /*width: 45%;*/
  width: 450px;
  padding: 0 30px 30px; 
}

/*コース*/
.course-wrapper{
  clear: both;
  background-color: #eaeaea;
  height: 900px;
}

.course-title{
  background-color: #ebebeb;
}

.price-box-wrapper{
  /*background-color: #999;*/
  /*width: 980px;*/
  width: 100%;
  /*margin: 0 auto;*/
  margin: 0 30px;
  padding-top: 20px;
}

.price-box{
  background-color: #fff;
  float: left;
  text-align: center;
  width: 25%;
  padding: 10px 18px;
  /*border: solid 1px #888;*/
  margin: 0 20px;
}

.price-box li{
  padding: 20px 0;
}

.price-box h3{
  font-size: 25px;
  font-weight: 300;
}

.course-list{
  width: 260px;
  margin: 0 auto;
  border-bottom: solid 1px #eee;
  font-size: 15px;
  color: #999; 
  /*font-weight: lighter;*/
}

.btn-apply{
  background-color: #30303a;
  padding: 8px 24px;
  color: #999;
  display: inline-block;
}

/*メンター*/
.mentor-wrapper{
  clear: both;
  text-align: center;
}

.mentor-img{
  width: 200px;
  border-radius: 50%;
}

.fa{
  margin: 5px;
}

.mentor_box{
  width: 80%;
  margin: 0 auto;
}

/*メッセージ*/
.message_wrapper{
  color: white;
  background: url("./images/backgrounds/night_view.jpg");
  background-size: cover;
  text-align: center;
  padding: 150px 0;
  /*height: 100%;*/
}

/*コラム*/
.columns_wrapper{
  text-align: center;
  background-color: #eee;
}

/*.column-box{
  display: inline-block;
}*/

.filter{
  /*background-color: #999;*/
  width: 400px;
  margin: 0 auto 100px;
  /*text-align: center;*/
}

.filter li{
  float: left;
  padding: 10px 20px;
  text-align: center;
  margin: 0 5px;
}

/*.filter-item{
  float: left;
  padding: 10px 15px;
}*/

.filter-list-backgreen{
  background-color: #16acbe;
}

.filter-list-backwhite{
  background-color: white;
  color: #222;
}

.column-box-wrapper{
  width: 1100px;
  margin: 0 auto;
}

.column-box{
  position: relative;
  width: 500px;
  margin: 20px;
  float: left;
}

.column-box img{
  width: 480px;
  border: 10px solid #fff;
  border-bottom: 95px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #999;
     -moz-box-shadow: 3px 3px 3px #999;
          box-shadow: 3px 3px 3px #999;
}

.column-textarea{
  position: absolute;
  top: 300px;
  text-align: center;
  width: 100%;
}

.column-textarea p{
  margin-top: 0;
  font-size: 12px;
  color: #bebebe;
}

.loadmore{
  clear: both;
  padding: 20px 0 40px;
}

/*コンタクト*/
.contact-wrapper{
  clear: both;
  color: #fff;
  background-image: url(./images/backgrounds/contact.jpg);
  background-size: cover;
  padding-bottom: 650px;
}

.contact-box{
  width: 600px;
  float: left;
}

.contact-area{
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

form{
  /* フォームをページの中央に置く */
  /*margin: 0 auto;*/
  /*width: 400px;*/
  /* フォームの範囲がわかるようにする */
  /*padding: 1em;*/
  /*border: 1px solid #CCC;*/
  border-radius: 1em;
}

.contact-form-area{
  padding: 20px 0;
  margin: 20px 0;
}

.submit-btn{
  color: #fff;
  background-color: #888;
  /*padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;*/
}



/*sns部分*/
.sns-wrapper{
  background-color: #676767;
  clear: both;
}

.sns-wrapper h2{
  font-weight: 300;
  font-size: 40px;
}

.sns-icon{
  text-align: center;
  font-size: 40px;
  padding: 10px;
}

/*footer部分*/
footer{
  text-align: center;
  background-color: #222;
  padding: 40px 0;
}